<h2>List of ratings</h2>

<p>Number of ratings <%= @ratings.count %></p>
<ul>
    <% @ratings.each do |rating| %>
    <% @beers = Beer.find(rating.beer_id) %>
    <li> <%= @beers.name %> <%= rating.score %> </li>
    <% end %>
</ul>
